@tailwind base;
@tailwind components;
@tailwind utilities;



::before,
::after {
  --tw-content: '';
}

.transparent {
  backdrop-filter: blur(10-x);
}

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Poppins, sans-serif;
  /* 4 */
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  background-image: url('https://assets4.lottiefiles.com/packages/lf20_2m1smtya.json');
  background-repeat: no-repeat;
  background-size: cover;
}

#nav{
  background-image: url('./img/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75;
}

#hero{
  background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#skills{
  background-image: url('./img/background-faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#projects{
  background-image: url('./img/background-faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials{

   background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background-image: url('./images/abstract-background.png');
     background-repeat: no-repeat;
      background-size: cover;
}

#about {
    background-image: url('./images/abstract-background.png');
     background-repeat: no-repeat;
      background-size: cover;
}

#footer{
  background-image: url('./img/background-faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}

#cool-loader {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: rgba(30, 30, 30, 1);
  color: rgba(255, 255, 255, 0.8);
}
	.react-spinner-loader-svg {
		position: relative;
		margin: 0 auto;
		width: 128px;
		margin-top: 20%;
		text-align: center;
	}

	.react-spinner-loader-svg svg {
	-webkit-transform-origin: 50% 65%;
				transform-origin: 50% 65%;
	}

	.react-spinner-loader-svg svg polygon {
		stroke-dasharray: 17;
		-webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
					animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
	}

	@-webkit-keyframes dash {
		to {
			stroke-dashoffset: 136;
		}
	}

	@keyframes dash {
		to {
			stroke-dashoffset: 136;
		}
	}
	@-webkit-keyframes rotate {
		100% {
			-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
		}
	}
	@keyframes rotate {
		100% {
			-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
		}
	}

  .lottie{
    height:400px;
}
